{% extends "nexus/module.html" %}

{% block content %}
    <h1>H1 Lorem Ipsum</h1>

    <h2>H2 Lorem Ipsum</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim malesuada iaculis. Morbi vitae turpis eget libero pellentesque tincidunt. Vestibulum blandit a erat sed pretium. Aenean aliquet purus ipsum, at elementum risus eleifend vitae. Integer eu lorem quam. Aliquam et tellus tincidunt, lobortis massa id, euismod dui. Vivamus lectus ligula, placerat in velit feugiat, molestie tempus enim. Nunc interdum dignissim nunc ac blandit. Integer lobortis ultrices dui nec sagittis. Etiam lobortis lacinia maximus. Donec interdum tempus justo, eget sagittis leo sagittis vel. Donec tincidunt congue ipsum, eu fringilla ligula porttitor eget.
    </p>

    <div>
        <button class="button">Button Normal</button>
        <button class="button toggled">Button Toggled</button>
        <button class="button small">Button Small</button>
        <button class="button small toggled">Button Small Toggled</button>
        <button class="button xtrasmall">Button Xtra Small</button>
        <button class="button xtrasmall toggled">Button Xtra Small Toggled</button>
    </div>

    <br>

    <div>
        <button class="button delete">Button Delete</button>
        <button class="button delete hover">Button Delete Hover</button>
    </div>

{% endblock %}
